{% extends 'company/base.html' %}

{% block content %}
    <div class="login">
        <div class="container">
            <div class="login__inner">
                <h1 class="login__title">Вход</h1>
                <form action="{% url 'login' %}" method="post" class="login__form">
                    {% csrf_token %}
                    {{ form.non_fields_errors }}
                    <div class="login__email">
                        <label for="{{ form.username.id_for_label }}" class="login__label">Email</label>
                        <div>{{ form.username }}</div>
                    </div>
                    <div class="login__password">
                        <label for="{{ form.password.id_for_label }}" class="login__label">Пароль</label>
                        <div>{{ form.password }}</div>
                    </div>
                    <button type="submit" class="login__button">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}